@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> SignInManager

<ul class="navbar-nav ms-auto align-items-center">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-link nav-link text-dark p-0">Logout</button>
                 
                </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
                Login
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">
                Register
            </a>
        </li>
    }
</ul>